<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
		    <h2 class="section-heading"><b>DỊCH VỤ CỦA CHÚNG TÔI</b></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>THIẾT KẾ NỘI THẤT</h3>
                    <p class="text-muted">Sáng tạo, chuyên nghiệp, trách nhiệm.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>TƯ VẤN PHONG THỦY</h3>
                    <p class="text-muted">Chúng tôi đem đến cho khách hàng thông tin hữu ích.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>HOÀN THIỆN NHÀ</h3>
                    <p class="text-muted">Chúng tôi đồng hành cùng khách hàng trong suốt quá trình xây dựng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>SẢN XUẤT LẮP ĐẶT ĐỒ GỖ</h3>
                    <p class="text-muted">Chúng tôi đem đến sự chuẩn mực trong từng sản phẩm.</p>
                </div>
            </div>
        </div>
    </div>
</section>
